.form-container {
  display: flex;
  flex-direction: column;
}

.preview-container {
  table {
    width: 100%;
    overflow: auto;
    display: block;
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid #000000;
  }
  th,
  td {
    padding: 2px;
    font-family: "Roboto";
    white-space: nowrap;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.exact-padding {
  padding-bottom: 1.34375em;
}
button.exact-padding {
  margin-bottom: 1.34375em;
}
